<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808020789555-05oi1l2jhifprh2glp0eebas1fm4ffir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808020789555-05oi1l2jhifprh2glp0eebas1fm4ffir</string>
	<key>API_KEY</key>
	<string>AIzaSyD5LDCh6PXFhhx12r90-41V1hEwETga7PI</string>
	<key>GCM_SENDER_ID</key>
	<string>808020789555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyp.plutus</string>
	<key>PROJECT_ID</key>
	<string>nyp-sddp-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>nyp-sddp-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808020789555:ios:477921e9ad3c3a6f1ad646</string>
	<key>DATABASE_URL</key>
	<string>https://nyp-sddp-2019.firebaseio.com</string>
</dict>
</plist>